.modal-wrapper {
  width: 700px;
  height: 450px;
  background: var(--main-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;
}
.modal-content {
  width: 94%;
  height: 90%;
  background: var(--secondary-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 10px 0px 10px;
  box-sizing: border-box;
  overflow-y: auto;
}
.close {
  position: absolute;
  top: 0px;
  right: -40px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background-color: var(--main-bg);
  color: var(--secondary-bg);
  width: 30px;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px;
  cursor: pointer;
}

.message span:first-child {
  color: grey;
}